  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        
        ['%', 'idle'],
        {% for d in cpu %}
            ['{{ d.0 }}', {{ d.1 }}],
        {% endfor %}
        
        ]);

        var options = {
          title: 'Percentage of time that the CPU or CPUs were idle.'
        };

        var chart = new google.visualization.LineChart(document.getElementById('cpu_div'));
        chart.draw(data, options);
      }
    </script>
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        
        ['%', 'ldavg-1', 'ldavg-5', 'ldavg-15'],
        {% for d in load %}
            ['{{ d.0 }}', {{ d.1 }}, {{ d.2 }}, {{ d.3 }}],
        {% endfor %}
        
        ]);

        var options = {
          title: 'System load averages.'
        };

        var chart = new google.visualization.LineChart(document.getElementById('load_div'));
        chart.draw(data, options);
      }
    </script>
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        
        ['%', 'swpused'],
        {% for d in swap %}
            ['{{ d.0 }}', {{ d.1 }}],
        {% endfor %}
        
        ]);

        var options = {
          title: 'Percentage of used swap space.'
        };

        var chart = new google.visualization.LineChart(document.getElementById('swap_div'));
        chart.draw(data, options);
      }
    </script>   
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        
        ['%', 'kbmemused', 'kbbuffers', 'kbcached'],
        {% for d in mem %}
            ['{{ d.0 }}', {{ d.1 }}, {{ d.2 }}, {{ d.3 }}],
        {% endfor %}
        
        ]);

        var options = {
          title: 'System memory usage.'
        };

        var chart = new google.visualization.LineChart(document.getElementById('memory_div'));
        chart.draw(data, options);
      }
    </script>
  
      <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        
        ['%', 'iowait'],
        {% for d in iowait %}
            ['{{ d.0 }}', {{ d.1 }}],
        {% endfor %}
        
        ]);

        var options = {
          title: 'Percentage of time that the CPU or CPUs were idle during which the system had an outstanding disk I/O request.'
        };

        var chart = new google.visualization.LineChart(document.getElementById('io_div'));
        chart.draw(data, options);
      }
    </script>