<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        
        ['%', '%idle'],
        {% for d in cpu %}
            ['{{ d.0 }}', {{ d.1 }}],
        {% endfor %}
        
        ]);

        var options = {
          title: 'Percentage of time that the CPU or CPUs were idle'
        };

        var chart = new google.visualization.LineChart(document.getElementById('cpu_div'));
        chart.draw(data, options);
      }
    </script>
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        
        ['%', '%idle'],
        {% for d in cpu %}
            ['{{ d.0 }}', {{ d.1 }}],
        {% endfor %}
        
        ]);

        var options = {
          title: 'Percentage of time that the CPU or CPUs were idle'
        };

        var chart = new google.visualization.LineChart(document.getElementById('load_div'));
        chart.draw(data, options);
      }
    </script>
    
  </head>
  
  
  <body>
    <div id="cpu_div" style="width: 450px; height: 300px;"></div>
    <div id="load_div" style="width: 450px; height: 300px;"></div>
  </body>
  
  
</html>
