<html>
  <head>
   <title>pysarGraphs</title>
   
   {% include 'graphs.html' %}
   
   <style type="text/css">
   body { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; }
   </style>
   
  </head>
  
  <body>
    <center>
    <h1>pysarGraphs</h1>
    
     <h6>Current Server Time: {% now "H:i" %}</h6>
     <hr>
    
     <div id="cpu_div" style="width: 750px; height: 350px;"></div>
     <div id="io_div" style="width: 750px; height: 350px;"></div>
     <div id="load_div" style="width: 750px; height: 350px;"></div>
     <div id="memory_div" style="width: 750px; height: 350px;"></div>
     <div id="swap_div" style="width: 750px; height: 350px;"></div>
     
    <hr>
    <a href='https://github.com/jness/pysarGraphs'>
        <font size=1>Source Code</font>
    </a>
     
    </center>
  </body>
  
</html>
